<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HotelReverseTask</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HotelReverseTask.styles.css" asp-append-version="true" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
</head>
<body class="d-flex flex-nowrap" >
        <div class="sidebar">
        <h4>Dashboard</h4>
        <a asp-area="" asp-controller="Hotel" asp-action="Index">Home</a>
        @if (User.IsInRole("Administrator"))
        {
            <a asp-area="" asp-controller="Hotel" asp-action="CreateHotel"> Add Hotel</a>
            <a asp-area="" asp-controller="Hotel" asp-action="CreateRoom"> Add Room</a>
        }

        <a asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
    </div>
    <div class="w-100">
        @RenderBody()
    </div>
   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
